.NavbarItems{
    background: linear-gradient(400deg,rgb(255, 255, 255) 10%, rgb(241, 131, 28) 100%);
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1);
    box-shadow: 0 0.1px 40px rgb(97, 96, 96);
}

.navbar-logo{
    text-align: center;
    cursor: pointer;
    margin: 0px;
    width: 30vh;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    align-self: center;
    align-items: center;
    
}

.nav-links{
    font-size: 32px;
    text-decoration: none;
    color: red;
}

.nav-links:hover{
    text-decoration: none;
    text-shadow: 0px 0px 20px grey;
    transition: text-shadow 0.8s;
}

@media only screen and (max-width: 600px) {
    .nav-links{
        display: none;
    }
    .nav-menu{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.NavbarItems{
    background: linear-gradient(180deg,rgb(255, 255, 255) 70%, rgb(241, 131, 28) 100%);
    padding-top: 10px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1);
    box-shadow: 0 0.1px 40px rgb(97, 96, 96);
}
  } 
